body
  +font(family $font1 size 28px)
  background: #000000
  color: lightgray

.cleaner
  clear: both

#container
  +size(width 900px)
  margin: auto
  transition: $animationDuration ease all

  &.animation
    transform: scale(4)
    opacity: 0

#board
  +font(size 48px)
  +text-center
  +size(width 900px)
  margin: 50px 0
  transition: $animationDuration ease all
  &.positive
    color: $colorPositive
  &.negative
    color: $colorNegative

.box
  +left
  +text-center
  +size(min-height 280px width 450px)

.letter
  +left
  +size(width 30px height 30px)
  +text-center
  border: 3px solid $colorBorder
  margin: 5px
  padding: 5px
  &:hover
    background: $background
    color: #FFF
    border-color: #FFF
  &.hitted
    background: darken($colorPositive, 20%)
    color: $colorPositive
    border-color: $colorPositive
    cursor: default
  &.nothitted
    background: darken($colorNegative, 20%)
    color: $colorNegative
    border-color: $colorNegative
    cursor: default

.reset
  +inline-block
  background: lighten($background, 20%)
  margin: 10px auto
  padding: 10px

.button
  +pointer
  border-radius: 15px

#timer
  +inline-block
  +size(width 50px)

#amounts
  +inline-block
  +text-center
  +size(width 300px)
  border: 3px solid $colorBorder
  border-radius: 15px
  padding: 10px

.amount
  +inline-block
  +size(width 50px)

  &.positive
    color: $colorPositive

  &.negative
    color: $colorNegative
