<div id="container">
    <div id="board"></div>
    <div id="gallows" class="box"></div>
    <div id="alphabet" class="box"></div>

    <div class="cleaner"></div>

    <div id="timer"></div>
    <div id="amounts"></div>
</div>
