<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin-ext" />
    <link rel="shortcut icon" href="{{root}}assets/img/favicon.ico" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />

    <title>{{title}}</title>
  </head>
  <body>

    {{!-- This is the base layout for your src/pages --}}
    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
